docker-compose.alt.yml
logo.png
server/uploads
server/.env
server/.env.test
server/node_modules
client/node_modules
client/.env
client/.env.test
client/build
.DS_Store
.vscode
client/package-lock.json
server/package-lock.json
server/error.log
server/combined.log
server/.env.prod
server/pnpm-lock.yaml
server/pnpm-workspace.yaml
client/pnpm-lock.yaml
client/pnpm-workspace.yaml
gap.md
lint_output.txt
*.zip